<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->


    <ul class="sidebar-menu">
      <li class="header">NAVIGATION</li>
      <li class="treeview">
        <a href="/">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span>Outlet</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="<%= base_url %>outlet/create"><i class="fa fa-plus"></i> Add Outlet</a></li>
          <li class="active"><a href="<%= base_url %>outlet/view"><i class="fa fa-street-view"></i> View Outlets</a>
          </li>
        </ul>
      </li>



      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span>Supplier</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="<%= base_url %>supplier/create"><i class="fa fa-plus"></i> Add Supplier</a></li>
          <li class="active"><a href="<%= base_url %>supplier/view"><i class="fa fa-street-view"></i> View Suppliers</a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span>Raw Material</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="<%= base_url %>raw_material/create"><i class="fa fa-plus"></i> Purchase New Raw
              Material</a></li>
          <li class="active"><a href="<%= base_url %>raw_material/dispatch"><i class="fa fa-plus"></i> Dispatch Raw
              Material</a></li>
      </li>
    </ul>
    </li>

    <li class="treeview">
      <a href="<%= base_url %>purchaseOrder/view">
        <i class="fa fa-dashboard"></i> <span>Purchase Order</span>
      </a>
    </li>
    <li class="treeview">
      <a href="<%= base_url %>raw_material/view_dispatch">
        <i class="fa fa-dashboard"></i> <span>Dispatch Order Info</span>
      </a>
    </li>


    <!--         <li class="treeview">
          <a href="trends">
            <i class="fa fa-line-chart"></i> <span>Trends</span>
          </a>
        </li>
 -->
</aside>